@charset "UTF-8";

html, body {
	padding: 0px;
	margin: 4px;
}

#parent {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%; 
	align-items : center;
	align-items: center;
}

#globale {
	max-width: 1050px;
}

h2 {
	padding-left: 15%;
	text-decoration:none;
	font-size: 1.5em;
}

h2>a {
	text-decoration:none;
	color : black;
}

h3 {
	text-align: center;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.item {
	flex: 1 1 40%;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

label {
	display: block;
	width: 155px;
	display: inline-block;
	text-align: left;
}

.container2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.item2 {
	padding-right: 2%;
	padding-left: 2%;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

#enregistrer {
	height: 8vh;
	width: 15vw;
	max-width : 100px;
	box-shadow: 5px 5px 0px black;
}

#supprimer {
	display : flex;
	height: 8vh;
	width: 170px;
	box-shadow: 5px 5px 0px black;
	align-items: center;
	justify-content: center;
	    border-width:0.5px;
   	background-color: #F0F0F0;
   	border-left: solid;
   	border-top :solid;
   	
  box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding: 1px 6px;
    border-width: 1px;

    border-color: buttonborder;
    border-image: initial;
}
#suppr{
	text-decoration: none;
	color : black;
}


#annuler {
	height: 8vh;
	width: 15vw;
	max-width : 100px;
	box-shadow: 5px 5px 0px black;
}



#vide {
	visibility: hidden;
}

#hidden {
	visibility: hidden;
}

#credits {
	text-align: left;

}

@media screen and (max-width : 500px) {
	.item2 {
		text-align: center;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	#enregistrer {
		height: 8vh;
		width: 80px;
	}
	#supprimer {
		height: 8vh;
		width: 160px;
	}
	#annuler {
		height: 8vh;
		width: 80px;
	}
	#hidden {
		visibility: visible;
	}
	#vide {
		display: none;
	}
	#new{
	
	display : none;
}
label {
	width: 140px;
	display: inline-block;
	text-align: left;
}



}