@charset "UTF-8";

html,body{
  padding : 0px;
  margin : 5px;
 }
h3{
	text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item{

  flex: 1 1 40%;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
margin-bottom: 10px;
margin-top: 10px;
}

label{
  display: block;
  width: 100px;
  display:inline-block;
  *display:inline;
  text-align: left;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  align-items: center;
  border : solid;
 
}
.item2{


  text-align: center;
margin-bottom: 10px;
margin-top: 10px;
}

#enregistrer{
	height: 8vh;
	width: 15vw;
}

#supprimer{
	height: 8vh;
	width: 160px;
}

#annuler{
	height: 8vh;
	width: 15vw;
}
@media screen and (max-width : 500px) {

	.container2 {
  display: flex;
  flex-direction: row;
 
  justify-content: space-around;
  align-items: center;
  border : solid;
 
}
	
	
.item2{

 
  text-align: center;
margin-bottom: 10px;
margin-top: 10px;
}

#enregistrer{
	height: 8vh;
	width: 80px;
}

#supprimer{
	height: 8vh;
	width: 160px;
}

#annuler{
	height: 8vh;
	width: 80px;
}


}


